<head>

</head>

<body>
    <h1>Hi EJS <%= username %></h1>
    <ul>
        <% customers.map((i)=>{ %>
            <li>
                <%=i%>
            </li>
            <% }) %>
    </ul>
    <a href="products">Products</a>
</body>
